* {
    box-sizing: border-box;
}
.team-member {
    display: inline-block;
    position: relative;
}
.team-content {
    padding: 0;
    position: relative;
    z-index: 100;
    margin-top: 0;
    margin-bottom: 0px;
    width: 320px;
    text-align: center;
}
.team-image {
    width: 190px;
    height: 190px;
    overflow: hidden;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 90px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
    text-align: center;
}
.team-content h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;
}
.team-content .team-subtitle {
    margin-bottom: 30px;
    display: block;
    font-size: 14px;
    font-style: italic;
    line-height: 1;
    color: inherit;
}
.team-member .team-image img {
    margin: 0 auto;
    border: none;
    height: auto;
    width: 100%;
}
.team-content-hover {
    top: 0;
    padding: 40px 35px;
    position: absolute;
    width: 190px;
    overflow: hidden;
    max-height: 190px;
    height: auto;
    opacity: 0.5;
    visibility: hidden;
    -webkit-transition: 0.25s ease-in;
    -o-transition: 0.25s ease-in;
    transition: 0.25s ease-in;
    z-index: 100;
    border-radius: 90px;
}
.team-image.active .team-content-hover {
    opacity: 1;
    visibility: visible;
    margin-left: calc(95px - 50%);
    margin-top: -50px;
    max-height: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.team-content-hover .gradient-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
}
.team-content .team-content-hover h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}
.team-content .team-content-hover .team-subtitle {
    color: #fff;
    position: relative;
}
.team-content-hover p {
    color: #fff;
    opacity: 0;
    font-size: 8px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    font-size: 12px;
    -webkit-transition: 0.25s ease-in;
    -o-transition: 0.25s ease-in;
    transition: 0.25s ease-in;
}
.team-image.active .team-content-hover p {
    opacity: 1;
    font-size: 12px;
}
.team-socials {
    position: relative;
    margin: auto;
    margin-top: 45px;
    width: 100%;
    z-index: 101;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}
.team-socials a {
    color: #225165;
    outline: 0;
    text-decoration: none;
}
.team-socials svg {
    margin: 0 10px;
    width: 18px;
}