.menu-container:before,
.menu-container:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.menu {
    position: relative;
}
.menu, .sub-menu {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu .menu-item button {
    background-color: transparent;
    border-radius: 0;
    border: 1px #eee solid;
    border-width: 1px 1px 0;
    color: inherit;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    padding: 0 20px;
    min-width: 180px;
    -webkit-appearance: none;
    text-align: left;
}
.menu-item:last-child button {
    border-bottom-width: 1px;
}
.menu-item.active button {
    border-right-width: 0;
}
.sub-menu {
    border: 1px #eee solid;
    position: absolute;
    left: 190px;
    top: 0;
}
.menu .menu-item,
.sub-menu .sub-menu-item {
    line-height: 30px;
    padding: 0 30px 0 20px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
}

.menu .menu-item.active button {
    color: #f40;
}

.sub-menu {
    border-left: none;
}

.sub-menu .sub-menu-item {
    width: 100%;
    border: none;
    font-size: 14px;
}

.sub-menu .sub-menu-item:hover {
    color: #f40;
}
