.menu-container:before,
.menu-container:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

.menu-container.below {
    position: relative;
}

.menu-container.below .menu {
    width: 100%;
}

.menu-container.below .menu .menu-item {
    float: left;
    border: none;
}

.menu-container.below .sub-menu {
    position: absolute;
    top: 30px;
    border: 1px #eee solid;
    border-top: none;
}

.menu, .sub-menu {
    float: left;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px #eee solid;
    box-sizing: border-box;
}

.menu .menu-item,
.sub-menu .sub-menu-item {
    line-height: 30px;
    padding: 0 20px;
    border-top: 1px #eee solid;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    font-family: monospace;
}

.menu .menu-item:first-child {
    border-top: none;
}

.menu .menu-item.active {
    color: #f40;
    border-right: 1px #fff solid;
    margin-right: -1px;
}

.sub-menu {
    border-left: none;
    min-height: 280px;
}

.sub-menu .sub-menu-item {
    width: 100%;
    border: none;
    font-size: 14px;
}

.sub-menu .sub-menu-item:hover {
    color: #f40;
}
