html, body {
  height: 100%;
}
#root {
  display: inline;
}
.App {
  background: url(./images/white-blocks.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 30%;
}
.Component-list {
  line-height: 1.5;
  font-size: 1.25em;
}
.Component-list .active + span:after {
  content: '👈';
}
a, a:link {
  color: black;
  font-weight: bold;
}
.Animation-pref {
  background-color: #555;
  border: 0;
  color: white;
  display: inline-block;
  font-size: 0.75em;
  font-weight: bold;
  margin-top: auto;
  padding: 0.5em;
  width: 130px;
  -webkit-appearance: none;
}
.main {
  flex-direction: column;
  flex: 1;
  margin-left: auto;
  width: 70%;
}

.main > * {
  background-color: #222;
  box-sizing: border-box;
  color: white;
  height: 100%;
  padding: 2em;
  width: 100%;
}

.login-form .form-group {
  color: #ddd;
}
.login-form .form-group input {
  font-size: 0.8em;
  padding: 0.25em 0.5em;
}
.login-form .form-group input[type=text] {
  display: block;
  min-width: 320px;
  margin: 0.5em 0 2em;
}
.login-form input[type=submit] {
  background-color: #ffd652;
  border: none;
  color: #000;
  font-weight: bold;
  -webkit-appearance: none;
}

.login-form input[type=submit]:hover {
  background-color: #ffc300;
}

@media screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
  .App-header {
    width: auto;
  }
  .main {
    height: 100%;
    margin-left: 0;
    width: auto;
  }
}